# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build
dist

# Unit test / coverage reports
.coverage
coverage.xml
junit/*
htmlcov/*

# Caches
.pytest_cache/

# MacOS
.DS_Store

# Databricks eXtensions
.dbx/*
conf/*

# local mlflow files
mlruns/
data
checkpoints



# Environment variables
.env
.env*
